{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-shadow": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": [0],
    "no-class-assign": 0,
    "import/no-unresolved" : "off",
    "import/extensions": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "max-len": [1, {"code": 200}], /*airbnb default maxlength causes problems with my ide*/
    "no-underscore-dangle": 0,
    "react/jsx-space-before-closing" : 1,
    "import/no-extraneous-dependencies": "off",
    "comma-dangle" : [1, "always"],
    "indent": [1,2],
    "camelcase": [1, {"properties": "always"}],
    "comma-spacing": [1, {"before": false, "after": true}],
    "object-curly-spacing": [1, "always"],
    "array-bracket-spacing":[1, "always"],
    "no-param-reassign": [0],
    "key-spacing": [1, { "afterColon": true, "beforeColon": false }],
    "no-unused-vars": 1,
    "react/jsx-indent": 1,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "eol-last": 1,
    "react/no-multi-comp": 1,
    "react/jsx-closing-bracket-location": 1,
    "arrow-spacing": 1,
    "no-plusplus": 0,
    "jsx-quotes": [1, "prefer-double"]
  },
  "plugins": [
    "react"
  ],
  "indent": [
    1,
    2
  ],
  "quotes": [
    1,
    "single"
  ],
  "semi": [
    1,
    "always"
  ],
  "comma-dangle": "always-multiline"
}
