@import 'common';

.search-box {;
  margin: 1em 0 1em 0;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  border: $itemBorder;
  border-radius: 2em;
  justify-content: space-between;
  align-items: center;
  color: $itemDefaultTextColor;
  overflow: hidden;
  transition: all $defaultTransitionTime;
  height: 2em;
  align-self: flex-end;
}

.search-intent {
  background: white;
  color: black;
  cursor: text;
}

.search-box-input {
  transition: all $defaultTransitionTime;
  font-family: inherit;
  text-align: center;
  display: flex;
  flex-grow: 1;
  outline: blue;
  margin-right: .3em;
  background: transparent;
  border-color: transparent;
}

.search-button {
  transition: border $defaultTransitionTime;
  color: inherit;
  background: transparent;
  padding: .5em;
  cursor: pointer;
  border: 1px solid $contentBackground;
  border-radius: 2em;
  &:hover {
    transition: all $defaultTransitionTime;
    background: $contentBackground;
    color: white;
  }
}

$slowTransition: $defaultTransitionTime*2;
$verySlowTransition: $defaultTransitionTime*2;
.search-button-pulsing {
  transition: all $verySlowTransition;
  background: transparent;
  padding: .5em;
  border: 0;
  transform: scale(.0);
  animation: pulsate $verySlowTransition linear infinite;
  animation-delay: $verySlowTransition;
}

@keyframes pulsate {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  50% {
    transform: scale(.5);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.cancel-search-button {
  transition: all $defaultTransitionTime;
  background: rgba(255, 86, 66, 0.9);
  cursor: pointer;
  padding: .2em;
  margin: .3em;
  color: $itemDefaultTextColor;
  border-radius: 2em;
  &:hover {
    transition: all $defaultTransitionTime;
    transform: scale(1.1);
  }
  &:active {
    transition: transform .0s;
    transform: scale(.85);
  }
}

.cancel-search-button-visible {
  @extend .cancel-search-button;
  transform: scale(1);
}

.cancel-search-button-invisible {
  @extend .cancel-search-button;
  transform: scale(0);
}