@import 'common';

$offset:5px;
$cycle:0.6s;
$size:20px;

.pulsate-item {
  border: $offset solid $itemDefaultTextColor;
  border-radius: $size;
  height: $size;
  position: absolute;
  opacity: 0;
  width: $size;
  animation: pulsate ($cycle*6) ease-out;
  animation-iteration-count: infinite;
}

.spinner-container{
  position:static;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:50px;
  flex-grow:1
}
.spinner-position{
  display:flex;
  padding:1px;
  background:$contentBackground;
  position:relative;
  flex-grow:1;
  justify-content:center;
  align-items:center;
}

.spin-item {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  height: $size;
  width: $size;
  border-radius: $size;
  box-shadow: 5px -0px 4px 0px $itemDefaultTextColor inset;
  opacity: .5;
  animation: $rotate $cycle infinite linear;
}

.hidden-item{
  opacity: 0;
}


@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.0;
  }
  25% {
    opacity: .35;
  }
  50% {
    transform: scale(.1);
    opacity: 0;
  }
  75% {
    opacity: .35;
  }
  100% {
    opacity: .0;
    transform: scale(1);
  }
}