@import "./common.scss";

.table-row {
  font-size: .8em;
}

.table-data {
  padding: .5em;
  margin: .5em;
}

.table-data-content {
  cursor: pointer;
  transition: all $defaultTransitionTime;
  word-break: break-all;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  border: $itemBorder;
  padding: .8em;
  color: $itemDefaultTextColor;
  background: $contentBackground;
  &:hover {
    background: $itemHoverBackground;
  }
}

.even-row {
  border: $selectedItemBorder;
}

.rounded-start-0 {
  border-radius: 2em 0 0 2em;
}

.rounded-start-1 {
  border-radius: 2em 0 0 2em;
}

.rounded-end-0 {
  border-radius: 0 2em 2em 0;
}

.rounded-end-1 {
  border-radius: 0 2em 2em 0;
}
.scrollable{
  display:flex;
  flex-grow:1;
  flex-direction: column;
  border:1px solid white;
  padding-left:1em;
}

.flex-table-row {
  transition: all $defaultTransitionTime;
  height:auto;
  display:flex;
  flex-shrink: 0;
}
.flex-table-row-active{
  @extend .flex-table-row;
  height: 0;
  flex-shrink: 1;
  animation: vertical-expand $defaultTransitionTime;
}
.collapse-row{
  opacity: 0;
  height: 0;
  margin:0;
  padding:0;
  animation:vertical-collapse $defaultTransitionTime;
}

@keyframes vertical-collapse {
  0% {
    transform: scaleY(1);
  }
  100% {
    padding:0;
    margin:0;
    transform: scaleY(0);
  }
}


@keyframes vertical-expand {
  0% {
    padding:0;
    margin:0;
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.tableHeaderData {
  position: absolute;
  top: 0;
  display: flex;
  padding: 1em;
  width: 200px;
  color: white;
  background: $contentBackground
}

.container {
  position: relative;
  overflow-y: scroll;
  height: 100%;
}