@import "common";

.todos-app-container{
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-start;
}

.user-list-container{
  display: flex;
  flex-direction: column;
}

.user-image-thumbnail{
  height: 100px;
  border-radius: 2em;
}
.user-item-container{
  display:flex;
  align-self: flex-end;
  justify-self: flex-end;
  max-height: 100px;
  margin: .6em;
  box-shadow: .5em .5em .5em .5em $facebookLightBlue;
  border-radius: 2em;
}

.user-item-name{
  text-align: center;
  border-radius: 2em;
  margin: 1em;
  box-shadow: .2em .2em .2em .2em $facebookLightBlue;
}

.user-select-button{
  justify-self: flex-start;
  padding: 0.5em;
  margin: 0 1em 2em 1em;
  min-height: 38px;
  box-shadow: 3px 3px 3px $neutralGrey;
  border: 0.1em solid black;
  border-radius: 2em;
  outline: none;
  transition: all $defaultTransitionTime;
  &:hover:enabled {
    border-color: white;
  }
  &:hover:enabled:active {
    transition: scale .1s, box-shadow .0s;
    box-shadow: 2px 2px 2px $neutralGrey;
    transform: scale(.97);
  }
}


.todos-list-container{
  padding:1em;
  margin: .6em 2em 0 2em;
  box-shadow: .2em .2em .2em .2em $facebookLightBlue;
  border-radius: 2em;
  background: $brownishYellow;
}

.todo-item{
  padding: .5em;
  margin: .5em;
  box-shadow: .2em .2em .2em .2em $facebookLightBlue;
  border-radius: 2em;
  background: $brownishYellow;
}


